# Secrets
google-credentials.json
.env
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
pip-wheel-metadata/
*.egg-info/

# Logs / local files
logs/
*.log
*.sqlite3

# Editor/IDE
.vscode/
.idea/

# Docker
*.tar
